<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetTestSuite">
  <listeners>
         <listener class-name="api.utilities.ExtentReportManager"/>
  </listeners>
  <test thread-count="5" name="PetTest">
    <classes>
      <class name="api.test.UserTests"/>
      <class name="api.test.DataDrivenUserTest"/>
    </classes>
  </test> <!-- PetTest -->
</suite> <!-- PetTestSuite -->
